$red: (
    hsl(7, 99%, 70%)
);
$yellow: (
    hsl(51, 100%, 49%)
);
$darkdcyan: (
    hsl(167, 40%, 24%)
);
$darkblue: (
    hsl(198, 62%, 26%)
);
$darkmcyan: (
    hsl(168, 34%, 41%)
);

$vdarkblue: (
    hsl(212, 27%, 19%)
);
$vdarkgrayblue: (
    hsl(213, 9%, 39%)
);
$darkgrayblue: (
    hsl(232, 10%, 55%)
);
$grayblue: (
    hsl(210, 4%, 67%)
);
$white: (
    hsl(0, 0%, 100%)
);

$sizetxt: (
    18px
);

$mobile:375px;

@import 'mixin';

body {
    max-width: 1440px;
    font-size: 18px;
    margin: 0px 0px 0px 0px;

}

.boxone {
    max-width: 1440px;
    max-height: 800px;
    width: 100%;
    height: 100%;
    

}

.heading {
    font-family: "barlow";
    width: 95%;
    display: inline-flex;
    flex-direction: row;
    margin-left: 2%;
    margin-top: 2%;

    .ss {
        font-size: xx-large;
        font-weight: bold;
        display: flex;
        justify-content: flex-start;
        color: $white;
        margin-top: 1%;
    }

    .asp {
        margin-top: 1%;
        width: 1500%;
        height: 20%;
        display: flex;
        justify-content: space-between;
        font-size: small;
        margin-left: 55%;
        word-spacing: 3.75em;
        color: $white
    }

    button {
        font-family: "fraunces";
        font-size: 140%;
        width: 35%;
        height: -20%;
        border-radius: 1em;
        border: none;
    }

}

.box-one {
    background-image: url("./img/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
    width: 100%;
    height: 800px;

    h1 {
        display: flex;
        font-family: "fraunces";
        font-size: 360%;
        justify-content: center;
        color: $white;

    }

}

.arrow {
    margin-top: 10%;
    margin-left: 49% ;
}

.taillebrandbox {
    width: 50%;


    .brandbox {
        width: 50%;
        height: 50%;
        background-color: rgb(255, 255, 255);
        font-family: "barlow";
        margin-top: 14%;
        margin-left: 20%;
        display: flex;
        flex-direction: column;




    }
}

.titleheader {
    font-size: 210%;
    font-family: 'fraunces';

}

.txt {
    font-size: 95%;
    color: $darkgrayblue;

}

.lm {
    font-family: 'fraunces';
}

.taillebox {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

}

.boxegg {
    width: 100%;
    background-image: url('./img/image-transform.jpg');

}

.rowtwo {
    max-width: 1440px;
    height: 37.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
}


.boxglass {
    width: 100%;
    background-image: url('./img/image-stand-out.jpg');
}

.cherrybox {
    width: 100%;
    background-image: url('./img/image-graphic-design.jpg');
    background-repeat: no-repeat;
}

.mandarinbox {
    width: 100%;
    background-image: url('./img/image-photography.jpg');
    background-repeat: no-repeat;

}

.rowthree {
    max-width: 1440px;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;



}

.tailleaudience {
    width: 50%;

    .audiencebox {
        width: 50%;
        height: 50%;
        background-color: rgb(255, 255, 255);
        font-family: "barlow";
        display: flex;
        flex-direction: column;
        margin-top: 15%;
        margin-left: 20%;
    }
}

.mandarincherry {
    max-width: 1440px;
    height: 37.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;

    .titlefruits1 {
        font-family: "fraunces";
        display: flex;
        justify-content: center;
        margin-top: 60%;
        color: $darkdcyan;
        font-size: larger;
    }

    .titlefruits2 {
        font-family: "fraunces";
        display: flex;
        justify-content: center;
        margin-top: 60%;
        color: $darkblue;
        font-size: larger;


    }

    .txtfruits {
        font-family: "barlow";
        display: flex;
        justify-content: center;
        margin-top: 5%;
        text-align: center;
        line-height: 1.5;

    }
}

.txt1 {
    color: $darkdcyan;
}

.txt2 {
    color: $darkblue;
}

.clientbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: none;
    

    .photoprofil {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}


.txtcenter {
    font-family: "barlow";
    color: $darkgrayblue;
    font-size: small;
    text-align: center;
    margin-top: 50px;
}

.name {
    font-family: "fraunces";
    color: $darkblue;
    text-align: center;
}

.profession {
    font-family: "barlow";
    font-size: x-small;
    color: $grayblue;
    text-align: center;

}


.pp {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    border-radius: 50%;
}



.titlec {
    width: 300px;
    display: flex;
    flex-direction: row;
    margin-left: 42%;
    margin-top: 10%;

    .titleclient {
        color: $grayblue;
        font-family: "fraunces";
        letter-spacing: 5px;
        font-size: small;

    }
}


footer {
    height: 800px;
    background-color: rgb(111, 167, 158);
}
.sunnysidebox {
    max-width: 1440px;
    max-height: 800px;
    width: 100%;
    height:50%;
    display: flex;
    margin-top:10%;
    .imgfooter {
        width: 150%;
        display: flex;
        flex-direction: row;
        
    }
    
    
    
}
.aspfooter {
    font-family: "barlow";
    margin-top: 5%;
    color:$darkdcyan;
    display:block;
    justify-content: center;
    text-align: center;
    
}
.titlesunnyside {
    font-size:200%;
    font-weight: bolder;
}


.imglogo{
  display:flex;
  flex-direction: row;
  justify-content: center;
 
  }
  

